{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="col-12">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}

        <p>
            {{ form_errors(form.text) }}
        </p>
        <p>
            {{ form_errors(form.type) }}
        </p>
        <p>
            {{ form_errors(form.duration) }}
        </p>

        <div class="row">
            <div class="w-75 p-3">
                {{ form_widget(form.text) }}
            </div>
            <div class="w-25 p-4 custom-control custom-radio">
                {{ form_widget(form.type, {label_attr: {class: 'radio-custom'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="p-3 w-75 custom-control-inline">
                <div class="custom-control custom-radio d-flex">
                    {{ form_widget(form.duration, {label_attr: {class: 'radio-custom, radio-inline'}}) }}
                </div>
            </div>
            {% if url is defined %}
            <div class="p-1">
                <button class="btn btn-success"
                        type="button">Sent !
                </button>
            </div>
            {% else %}
                <div class="p-1">
                    {{ form_widget(form.save, { 'label': 'Send' }) }}
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>


        {% if url is defined %}
            <div class="pt-3 alert alert-success w-75" role="alert">
                <p>Your message has been sent, you can show it <a href="http://localhost:8000/m/{{ url }}">here</a> :</p>
                <div class="span2 p-1">
                    <button type="button" id="urlButton" class="btn btn-primary btn-block">Copy web link!</button>
                    <div class="pt-1 ">
                        <div class="input-group mb-3">
                            <input class="w-100" type="text" id="url" aria-label="With textarea" value="http://localhost:8000/m/{{ url }}" />
                        </div>
                    </div>
                </div>
            </div>

            {{ encore_entry_script_tags('copyUrl') }}
        {% endif %}

    </div>
</div>

{% endblock %}